@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster');
/*html {*/
/*    font-size: 62.5%;*/
/*}*/
body {
    font-size: 1.6rem;
    font-weight: 400;
}

.headerDiv {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}
.headerDiv h1 {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
}
.headerDiv p {
    margin-bottom: 0.5em;
    font-size: 1.6rem;
    line-height: 1.6;
}
.headerDiv .button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 25px;
    border-radius: 4px;
}
.headerDiv .button-primary {
    position: relative;
    background-color: #c0ca33;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.3s ease-in;
    z-index: 1;
}
.headerDiv .button-primary:hover {
    color: #c0ca33;
    text-decoration: none;
}
.headerDiv .button-primary::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    border-radius: 4px;
    opacity: 0;
    -webkit-transform: scaleX(0.8);
    -ms-transform: scaleX(0.8);
    transform: scaleX(0.8);
    transition: all 0.3s ease-in;
    z-index: -1;
}
.headerDiv .button-primary:hover::after {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
.headerDiv .overlay::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
}
.header-area {
    position: relative;
    height: 6vh;
    background: #5bc0de;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.headerDiv .banner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    color: #fff;
    text-align: center;
    z-index: 1;
}
.headerDiv .banner h1 {
    font-weight: 800;
}
.headerDiv .banner p {
    font-weight: 700;
}
.headerDiv .navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    transition: background 0.6s ease-in;
    z-index: 99999;
}
.headerDiv .navbar .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
}
.headerDiv .navbar .navbar-toggler {
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    outline: none;
}
.headerDiv .navbar .navbar-toggler .menu-icon-bar {
    position: absolute;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    transition: all 0.3s ease-in;
}
.headerDiv .navbar .navbar-toggler .menu-icon-bar:first-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(45deg);
    -ms-sform: translateY(-1px) rotate(45deg);
    transform: translateY(-1px) rotate(45deg);
}
.headerDiv .navbar .navbar-toggler .menu-icon-bar:last-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(135deg);
    -ms-sform: translateY(-1px) rotate(135deg);
    transform: translateY(-1px) rotate(135deg);
}
.headerDiv .navbar .navbar-toggler.collapsed .menu-icon-bar {
    opacity: 1;
}
.headerDiv .navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
    -webkit-transform: translateY(-7px) rotate(0);
    -ms-sform: translateY(-7px) rotate(0);
    transform: translateY(-7px) rotate(0);
}
.headerDiv .navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
    -webkit-transform: translateY(5px) rotate(0);
    -ms-sform: translateY(5px) rotate(0);
    transform: translateY(5px) rotate(0);
}
.headerDiv .navbar-dark .navbar-nav .nav-link {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
}
.headerDiv .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
.headerDiv .navbar .dropdown-menu {
    padding: 0;
    background-color: rgba(0, 0, 0, .9);
}
.headerDiv .navbar .dropdown-menu .dropdown-item {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    transition: color 0.2s ease-in;
}
.headerDiv .navbar .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}
.headerDiv .navbar .dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: #c0ca33;
}
.headerDiv .navbar .dropdown-menu .dropdown-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 5px;
    background-color: #c0ca33;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
.headerDiv .navbar .dropdown-menu .dropdown-item:hover::before {
    opacity: 1;
}
.headerDiv .navbar.fixed-top {
    position: fixed;
    -webkit-animation: navbar-animation 0.6s;
    animation: navbar-animation 0.6s;
    background-color: rgba(0, 0, 0, .9);
}
.headerDiv .navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
    color: #c0ca33;
}
.headerDiv .navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
    background-color: #c0ca33;
}
.headerDiv .content {
    padding: 120px 0;
}
@media screen and (max-width: 768px) {
    .headerDiv .navbar-brand {
        margin-left: 20px;
    }
    .headerDiv .navbar-nav {
        padding: 0 20px;
        background-color: rgba(0, 0, 0, .9);
    }
    .headerDiv .navbar.fixed-top .navbar-nav {
        background: transparent;
    }
}
@media screen and (min-width: 767px) {
    .headerDiv .banner {
        padding: 0 150px;
    }
    .headerDiv .banner h1 {
        font-size: 5rem;
    }
    .headerDiv .banner p {
        font-size: 2rem;
    }
    /*.navbar-dark .navbar-nav .nav-link {*/
    /*    padding: 23px 15px;*/
    /*}*/
    .headerDiv .navbar-dark .navbar-nav .nav-link::after {
        content: '';
        position: absolute;
        bottom: 15px;
        left: 30%;
        right: 30%;
        height: 1px;
        background-color: #fff;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        transition: transform 0.1s ease-in;
    }
    .headerDiv .navbar-dark .navbar-nav .nav-link:hover::after {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }
    .headerDiv .dropdown-menu {
        min-width: 200px;
        -webkit-animation: dropdown-animation 0.3s;
        animation: dropdown-animation 0.3s;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
    }
}
@-webkit-keyframes navbar-animation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes navbar-animation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes dropdown-animation {
    0% {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }
    75% {
        -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        transform: scaleY(1.1);
    }
    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes dropdown-animation {
    0% {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }
    75% {
        -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        transform: scaleY(1.1);
    }
    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
}

.headerDiv .btn.btn-outline-white {
    background: transparent;
    border-width: 2px;
    border-color: #fff;
    color: #fff; }
.headerDiv .btn.btn-outline-white:hover {
    background: #fff;
    color: #000; }

/*.btn.btn-outline-primary {*/
/*    color: #89ba16; }*/
/*.btn.btn-outline-primary:hover {*/
/*    color: #fff;*/
/*    background: #89ba16; }*/